body,
html {
  font-family: "Lato", sans-serif;
  font-size: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
input,
blockquote {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.limiter {
  max-width: 1000px;
  margin: 0 auto;
}

.box {
  padding: 0 10rem;
}

.wrapper {
  padding-top: 4.1rem;
  background-image: url(../img/header/intro-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn--nav {
  margin-left: 6rem;
}

.btn {
  line-height: 2.4rem;
  font-size: 1.5rem;
  font-family: "Lato", sans-serif;
  color: #F45E1F;
  padding: 1.2em 2.4em;
  outline: none;
  border: none;
  border-radius: 2.25em;
  background-color: #FFFFFF;
  cursor: pointer;
  font-weight: 700;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.btn:hover {
  background-color: #F45E1F;
  color: #FFFFFF;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
}

.not-active {
  display: none;
}

.nav__tel {
  display: none;
}

.nav__tel__burger {
  width: 26px;
  height: 26px;
}

.nav__tel__active__close {
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: 1000;
  top: 25px;
  right: 25px;
}

.nav__tel__menu {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #000;
  z-index: 1000;
}

.nav__tel__menu__link {
  text-align: center;
  padding: 10% 0;
  font-size: 3rem;
  text-decoration: none;
  color: #FFFFFF;
  display: block;
}

.nav__tel__menu__link:visited {
  color: #FFFFFF;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__link {
  text-decoration: none;
  font-size: 1.5rem;
  font-family: "Lato", sans-serif;
  color: #FFFFFF;
  display: block;
  height: 2rem;
  padding: 1rem 0 1.5rem 0;
  border-bottom: 2px solid #FFFFFF;
  line-height: 2.4rem;
  margin-left: 6rem;
  font-weight: 500;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.nav__link:visited {
  color: #FFFFFF;
}

.nav__link:first-child {
  margin-left: 0;
}

.nav__link:hover {
  border-bottom: 0.6rem solid #FFFFFF;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.intro {
  padding-left: 7rem;
}

.intro__inner {
  padding: 17rem 0 11rem 0;
  max-width: 600px;
}

.intro__title {
  font-family: "Lato", sans-serif;
  color: #FFFFFF;
  font-size: 6.5rem;
  line-height: 1.2;
}

.intro__text {
  font-family: "Lato", sans-serif;
  color: #FFFFFF;
  font-size: 1.5rem;
  line-height: 1.2;
  max-width: 430px;
  margin-bottom: 5.5rem;
}

.intro__slide {
  margin-top: 18.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro__slide__text {
  text-transform: uppercase;
  font-size: 1.2rem;
  color: #FFFFFF;
  line-height: 2.6rem;
  margin-right: 3.9rem;
}

.intro__slide__line {
  display: block;
  background-color: #FFFFFF;
  opacity: 0.4;
  height: 1px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.intro__slide__button {
  font-size: 1.2rem;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  padding: 2.5rem;
  border-radius: 50%;
  cursor: pointer;
}

.intro__slide__button span {
  display: block;
  width: 12px;
  height: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro__block {
  max-width: 100%;
  background-color: #F6F7FB;
  padding: 1.5rem 0 1rem 0;
  text-align: center;
}

.intro__block__text {
  color: #B4B4B4;
  text-transform: uppercase;
}

.btn--intro {
  padding: 1.2rem 4rem;
  margin-right: 3rem;
}

.btn--map {
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  background-color: inherit;
  padding: 1.2rem 4rem;
  outline: none;
  border-radius: 2.25em;
  cursor: pointer;
  line-height: 2.4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.btn--map:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.btn--map .intro__location {
  padding-right: 1rem;
}

.card {
  background-color: #F6F7FB;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 11.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 15.6rem;
}

.cards__item {
  margin-right: 6rem;
  padding: 4rem 3.3rem 4rem 3.8rem;
  max-width: 260px;
  border-radius: 1rem;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  background-color: #FFFFFF;
}

.cards__item:last-child {
  margin-right: 0;
}

.cards__item:hover {
  background-color: #273164;
  cursor: pointer;
}

.cards__item:hover #house-icon,
.cards__item:hover #commercial_ {
  fill: #FFFFFF;
}

.cards__item:hover .cards__title,
.cards__item:hover .cards__text {
  color: #FFFFFF;
}

.cards__img {
  margin-bottom: 1.93rem;
}

.cards__title {
  color: #273164;
  font-size: 2.4rem;
  line-height: 3.2rem;
  margin-bottom: 1.6rem;
}

.cards__text {
  color: #B4B4B4;
  font-size: 1.4rem;
  line-height: 1.5;
  margin-bottom: 3rem;
}

.cards__link {
  font-size: 1.3rem;
  line-height: 1.7rem;
}

.cards__link a {
  color: #F45E1F;
}

.cleaning {
  padding: 14rem 0;
  background-color: #FFFFFF;
}

.cleaning__title {
  font-size: 3rem;
  color: #273164;
  line-height: 4rem;
  margin-bottom: 4.5rem;
  max-width: 30rem;
}

.cleaning__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Roboto", sans-serif;
  color: #B4B4B4;
  font-size: 1.4rem;
  line-height: 2.4rem;
}

.cleaning__wrapper__left {
  max-width: 455px;
}

.cleaning__wrapper__right {
  max-width: 455px;
}

.cleaning__wrapper__right p {
  margin-bottom: 3.5rem;
}

.cleaning__wrapper__right p:last-child {
  margin-bottom: 0;
}

.become {
  padding: 10.4rem 0 7.6rem 0;
  background: url(../img/become/bg-image.png) no-repeat;
  background-position: right top +100px;
  background-color: #F6F7FB;
}

.become__inner {
  max-width: 435px;
}

.become__img {
  margin-top: -20rem;
  overflow: hidden;
  margin-bottom: 8.5rem;
}

.become__img img {
  max-width: 100%;
  height: auto;
  -webkit-transition: -webkit-transform .5s linear;
  transition: -webkit-transform .5s linear;
  transition: transform .5s linear;
  transition: transform .5s linear, -webkit-transform .5s linear;
}

.become__img:hover img {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: 2s;
  transition: 2s;
  cursor: pointer;
}

.become__subtitle {
  text-transform: uppercase;
  color: #F45E1F;
  font-size: 1.3rem;
  line-height: 1.7rem;
  margin-bottom: 1.1rem;
  max-width: 18rem;
}

.become__title {
  color: #273164;
  font-size: 3rem;
  line-height: 3.5rem;
  max-width: 40rem;
  margin-bottom: 3.7rem;
}

.become__text {
  color: #676F92;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  line-height: 2.6rem;
  margin-bottom: 4rem;
}

.become__subtext {
  color: #273164;
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.become__subtext__span {
  margin-right: 3.3rem;
}

.buy-book {
  background-color: #FFFFFF;
  padding: 15.5rem 0;
}

.buy-book__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.buy-book__culc {
  max-width: 455px;
  margin-right: 4rem;
}

.buy-book__culc__subtitle {
  text-transform: uppercase;
  color: #F45E1F;
  font-size: 1.3rem;
  line-height: 1.7rem;
  margin-bottom: 1.1rem;
  max-width: 18rem;
}

.buy-book__culc__title {
  color: #273164;
  font-size: 3rem;
  line-height: 3.5rem;
  max-width: 40rem;
  margin-bottom: 3.7rem;
}

.buy-book__culc__text {
  color: #676F92;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  line-height: 2.6rem;
  padding-right: 10rem;
  margin-bottom: 6rem;
}

.buy-book__culc__price {
  max-width: 345px;
}

.buy-book__culc__price__label {
  font-size: 1.4rem;
  color: #F45E1F;
  line-height: 2.4rem;
  margin-bottom: 1.8rem;
  max-width: 10rem;
}

.buy-book__culc__price__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5rem;
}

.buy-book__culc__price__buttons button {
  line-height: 2.4rem;
  font-size: 1.5rem;
  font-family: "Lato", sans-serif;
  padding: 1.2rem 2.4em;
  outline: none;
  border-radius: 2.25em;
  cursor: pointer;
  font-weight: 700;
}

.buy-book__culc__price__buttons__left {
  color: #F45E1F;
  border: 1px solid #F45E1F;
  background-color: #FFFFFF;
}

.buy-book__culc__price__buttons__right {
  color: #666E91;
  border: 1px solid #666E91;
  background-color: #FFFFFF;
}

.buy-book__culc__price__numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.buy-book__culc__price__numbers__item {
  width: 40%;
}

.buy-book__culc__price__numbers__item__label {
  font-size: 1.4rem;
  color: #F45E1F;
  line-height: 2.4rem;
  margin-bottom: 1.8rem;
}

.buy-book__culc__price__numbers__item__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.buy-book__culc__price__numbers__item__buttons__button {
  cursor: pointer;
}

.buy-book__culc__price__numbers__item__buttons__number {
  margin: 0 2.5rem;
  font-size: 1.4rem;
  color: #111111;
  line-height: 2.4rem;
}

.buy-book__form {
  background-color: #273164;
  padding: 5rem 8rem;
  max-width: 500px;
  border: 1px solid #707070;
}

.buy-book__form__title {
  color: #FFFFFF;
  font-size: 3rem;
  line-height: 6.5rem;
  font-weight: 400;
  margin-bottom: 1.2rem;
}

.buy-book__form__price {
  margin-left: 4rem;
}

.buy-book__form__result {
  max-width: 19rem;
  color: #FFFFFF;
  font-size: 1.2rem;
  line-height: 2.4rem;
  word-spacing: 1px;
  margin-bottom: 4.7rem;
}

.buy-book__form__result__hours {
  color: #F45E1F;
}

.buy-book__form__area__text {
  text-transform: uppercase;
  color: #F45E1F;
  font-size: 1rem;
  line-height: 2.4rem;
  margin-bottom: 0.6rem;
}

.buy-book__form__area__input {
  width: 100%;
  background: inherit;
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  padding: 0.9rem 0;
  margin-bottom: 2rem;
  cursor: pointer;
  color: #FFFFFF;
  font-size: 1.4rem;
}

.buy-book__form__area__input::-webkit-input-placeholder {
  color: #FFFFFF;
  font-size: 1.4rem;
}

.buy-book__form__area__input:-ms-input-placeholder {
  color: #FFFFFF;
  font-size: 1.4rem;
}

.buy-book__form__area__input::-ms-input-placeholder {
  color: #FFFFFF;
  font-size: 1.4rem;
}

.buy-book__form__area__input::placeholder {
  color: #FFFFFF;
  font-size: 1.4rem;
}

.buy-book__form__area__input:focus {
  background-color: #202852;
}

.buy-book__form__area__btn {
  margin-top: 1rem;
  border: none;
  outline: none;
  background-color: inherit;
  color: #F45E1F;
  font-size: 2rem;
  line-height: 2.7rem;
  border-radius: 2rem;
  padding: 1rem 0.5rem;
  margin-left: -0.5rem;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.buy-book__form__area__btn:hover {
  background-color: #202852;
  cursor: pointer;
}

.buy-book__form__area__btn__span {
  background-color: inherit;
  color: #F45E1F;
  font-size: 2rem;
  margin-left: 3.5rem;
}

.customer {
  background-color: #F6F7FB;
  padding: 15rem 0;
}

.customer__title {
  color: #273164;
  font-size: 3rem;
  line-height: 3.5rem;
  max-width: 35rem;
  margin: 0 auto 6rem auto;
}

.customer__review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.customer__review__arrow {
  max-width: 5rem;
  height: auto;
  cursor: pointer;
  z-index: 1000;
  display: block;
}

.customer__review__arrow:last-child {
  margin-left: 2rem;
}

.customer__review__carusel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
  margin-bottom: 15rem;
}

.customer__review__carusel__transform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.customer__review__item {
  padding: 6rem 3rem;
  background-color: #FFFFFF;
  min-width: 34rem;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
  margin: 0 2rem;
}

.customer__review__item__text {
  margin-top: 2.7rem;
  font-size: 2rem;
  color: #273164;
  line-height: 3rem;
}

.customer__review__item__info {
  margin-top: 3rem;
}

.customer__review__item__info__name {
  color: #F45E1F;
  font-size: 1.5rem;
  line-height: 2rem;
}

.customer__review__item__info__sity {
  color: #B4B4B4;
  font-size: 1.4rem;
  line-height: 2rem;
  margin-top: 0.5rem;
}

.customer__question__title {
  text-align: center;
  color: #273164;
  font-size: 3rem;
  line-height: 3.5rem;
  margin-bottom: 4rem;
}

.customer__question__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.customer__question__buttons__call {
  border: 1px solid #F45E1F;
  line-height: 2.4rem;
  font-size: 1.5rem;
  font-family: "Lato", sans-serif;
  padding: 1.2rem 2.8rem;
  outline: none;
  border-radius: 2.25rem;
  cursor: pointer;
  font-weight: 700;
  text-decoration: none;
  color: #F45E1F;
  margin-right: 2.5rem;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.customer__question__buttons__call:hover {
  background-color: #fad9c8;
}

.customer__question__buttons__email {
  border: 1px solid #273164;
  line-height: 2.4rem;
  font-size: 1.5rem;
  font-family: "Lato", sans-serif;
  padding: 1.2rem 5.1rem;
  outline: none;
  border-radius: 2.25rem;
  cursor: pointer;
  font-weight: 700;
  text-decoration: none;
  color: #273164;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.customer__question__buttons__email:hover {
  background-color: #aebdfc;
}

.footer {
  background-color: #FFFFFF;
  padding: 15rem 0 3rem 0;
}

.footer__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__main__sparcle {
  max-width: 14.2rem;
}

.footer__main__sparcle__title {
  color: #273164;
  font-size: 3rem;
  line-height: 3.5rem;
  margin-bottom: 3rem;
  font-weight: 500;
}

.footer__main__sparcle__text {
  color: #676F92;
  font-size: 1.4rem;
  line-height: 3.5rem;
  margin-bottom: 3.5rem;
}

.footer__main__sparcle__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__main__sparcle__icons img {
  display: block;
}

.footer__main__house, .footer__main__commercial, .footer__main__contact {
  margin-top: 1rem;
}

.footer__main__house__title, .footer__main__commercial__title, .footer__main__contact__title {
  font-size: 2.2rem;
  color: #273164;
  font-weight: 400;
  margin-bottom: 3rem;
}

.footer__main__house__list, .footer__main__commercial__list, .footer__main__contact__list {
  list-style: none;
}

.footer__main__house__list__item, .footer__main__commercial__list__item, .footer__main__contact__list__item {
  color: #676F92;
  font-size: 1.4rem;
  margin-bottom: 2.5rem;
}

.footer__main__house__list__item:last-child, .footer__main__commercial__list__item:last-child, .footer__main__contact__list__item:last-child {
  margin-bottom: 0rem;
}

.footer__main__house__list__item--mail, .footer__main__commercial__list__item--mail, .footer__main__contact__list__item--mail {
  font-size: 1.9rem;
  color: #F45E1F;
}

.footer__copy {
  margin-top: 11rem;
  padding-top: 2.9rem;
  border-top: 1px solid #D1D3DE;
  font-size: 1.4rem;
  color: #273164;
  line-height: 2rem;
}

/*==============================MEDIA==============================*/
@media (max-width: 1024px) {
  body,
  html {
    font-size: 9px;
  }
  .nav__link {
    display: block;
    height: 30px;
    text-align: center;
  }
  .container {
    max-width: 800px;
  }
  .limiter {
    max-width: 700px;
  }
  .become {
    background-size: contain;
  }
}

@media (max-width: 800px) {
  body,
  html {
    font-size: 8px;
  }
  .container {
    max-width: 600px;
  }
  .nav {
    display: none;
  }
  .nav__tel {
    display: block;
  }
  .btn--nav {
    margin-left: 0;
  }
  .limiter {
    max-width: 500px;
  }
  .buy-book__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .buy-book__culc {
    margin-right: 0;
    max-width: 100%;
    margin-bottom: 50px;
  }
}

@media (max-width: 600px) {
  body,
  html {
    font-size: 7px;
  }
  .container {
    max-width: 400px;
  }
  .limiter {
    max-width: 350px;
  }
  .cards {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cards__title {
    width: 100%;
    height: 40px;
  }
  .cards__item {
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .cards__item:last-child {
    margin: 0 auto;
    margin-bottom: 0;
  }
  .footer__main {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__main__sparcle, .footer__main__house, .footer__main__commercial, .footer__main__contact {
    max-width: 40%;
    width: 40%;
    text-align: center;
  }
  .footer__main__commercial, .footer__main__contact {
    margin-top: 4rem;
  }
  .footer__main__sparcle__icons {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 400px) {
  body,
  html {
    font-size: 6px;
  }
  .container {
    max-width: 300px;
  }
  .limiter {
    max-width: 250px;
  }
  .footer__main__sparcle, .footer__main__house, .footer__main__commercial, .footer__main__contact {
    max-width: 100%;
    width: 100%;
    text-align: center;
  }
  .footer__main__house {
    margin-top: 4rem;
  }
}
/*# sourceMappingURL=style.css.map */