@import "vars";

body,
html {
    font-family: $mainFont;
    font-size: 10px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
input,
blockquote {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1170px;
    margin: 0 auto;


}

.limiter {
    max-width: 1000px;
    margin: 0 auto;
}

.box {
    padding: 0 10rem;
}

.wrapper {
    padding-top: 4.1rem;
    background-image: url(../img/header/intro-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    // height: 994px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navigation {
    display: flex;
}

.btn--nav {
    margin-left: 6rem;
}

.btn {

    line-height: 2.4rem;
    font-size: 1.5rem;
    font-family: $mainFont;
    color: $orange;
    padding: 1.2em 2.4em;
    outline: none;
    border: none;
    border-radius: 2.25em;
    background-color: $white;
    cursor: pointer;
    font-weight: 700;
    transition: all 0.2s linear;

    &:hover {
        background-color: $orange;
        color: $white;
        // font-weight: 700;

        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
    }
}

.nav {
    display: flex;




    &__link {
        text-decoration: none;
        font-size: 1.5rem;
        font-family: $mainFont;
        color: $white;
        display: block;
        height: 2rem;
        padding: 1rem 0 1.5rem 0;
        border-bottom: 2px solid $white;
        line-height: 2.4rem;
        margin-left: 6rem;
        font-weight: 500;
        transition: all 0.2s linear;


        &:first-child {
            margin-left: 0;
        }

        &:hover {
            border-bottom: 0.6rem solid $white;
            transform: scale(1.2);
        }
    }

}

.intro {
    padding-left: 7rem;

    &__inner {
        padding: 17rem 0 11rem 0;
        max-width: 600px;
    }

    &__title {
        font-family: $mainFont;
        color: $white;
        font-size: 6.5rem;
        line-height: 1.2;
    }

    &__text {
        font-family: $mainFont;
        color: $white;
        font-size: 1.5rem;
        line-height: 1.2;
        max-width: 430px;
        margin-bottom: 5.5rem;
    }

    &__slide {
        margin-top: 18.7rem;
        display: flex;
        align-items: center;

        &__text {
            text-transform: uppercase;
            font-size: 1.2rem;
            color: $white;
            line-height: 2.6rem;
            margin-right: 3.9rem;
        }

        &__line {
            display: block;
            background-color: $white;
            opacity: 0.4;
            height: 1px;
            flex: 1;
        }

        &__button {
            font-size: 1.2rem;

            color: $white;
            border: 1px solid $white;
            padding: 2.5rem;
            border-radius: 50%;
            cursor: pointer;



            span {
                display: block;
                width: 12px;
                height: 12px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }


    }

    &__block {
        max-width: 100%;

        background-color: $darkWhite;
        padding: 1.5rem 0 1rem 0;
        text-align: center;


        &__text {
            color: $grey;
            text-transform: uppercase;
        }
    }
}



.btn--intro {
    padding: 1.2rem 4rem;
    margin-right: 3rem;
}


.btn--map {
    color: $white;
    border: 1px solid $white;
    background-color: inherit;
    padding: 1.2rem 4rem;
    outline: none;
    border-radius: 2.25em;
    cursor: pointer;
    line-height: 2.4rem;
    align-items: center;
    font-size: 1.5rem;
    transition: all 0.2s linear;

    &:hover {
        cursor: pointer;
        transform: scale(1.1);
    }



    .intro__location {
        padding-right: 1rem;
    }

}

.card {
    background-color: $darkWhite;
}


.cards {
    display: flex;
    padding-top: 11.5rem;
    justify-content: center;
    padding-bottom: 15.6rem;


    &__item {
        margin-right: 6rem;
        padding: 4rem 3.3rem 4rem 3.8rem;
        max-width: 260px;
        border-radius: 1rem;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
        transition: all 0.2s linear;
        background-color: $white;

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            background-color: $darkBlue;
            cursor: pointer;

            & #house-icon,
            & #commercial_ {

                fill: $white;
            }

            & .cards__title,
            & .cards__text {
                color: $white;
            }
        }





    }

    &__img {
        margin-bottom: 1.93rem;
    }

    &__title {
        color: $darkBlue;
        font-size: 2.4rem;
        line-height: 3.2rem;
        margin-bottom: 1.6rem;
    }

    &__text {
        color: $grey;
        font-size: 1.4rem;
        line-height: 1.5;
        margin-bottom: 3rem;
    }

    &__link {
        font-size: 1.3rem;
        line-height: 1.7rem;

        & a {
            color: $orange;
        }

    }
}


.cleaning {
    padding: 14rem 0;
    background-color: $white;



    &__title {
        font-size: 3rem;
        color: $darkBlue;
        line-height: 4rem;
        margin-bottom: 4.5rem;
        max-width: 30rem;

    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        font-family: $secondaryFont;
        color: $grey;
        font-size: 1.4rem;
        line-height: 2.4rem;

        &__left {
            max-width: 455px;
        }

        &__right {
            max-width: 455px;

            & p {
                margin-bottom: 3.5rem;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }


}

.become {

    padding: 10.4rem 0 7.6rem 0;
    background: url(../img/become/bg-image.png) no-repeat;
    background-position: right top +100px;

    background-color: $darkWhite;

    &__inner {
        max-width: 435px;
    }

    &__img {
        margin-top: -20rem;
        overflow: hidden;
        margin-bottom: 8.5rem;

        & img {
            max-width: 100%;
            height: auto;
            transition: transform .5s linear;

        }

        &:hover img {
            transform: scale(1.5);
            transition: 2s;
            cursor: pointer;

        }
    }

    &__subtitle {
        text-transform: uppercase;
        color: $orange;
        font-size: 1.3rem;
        line-height: 1.7rem;
        margin-bottom: 1.1rem;
        max-width: 18rem;
    }

    &__title {
        color: $darkBlue;
        font-size: 3rem;
        line-height: 3.5rem;
        max-width: 40rem;
        margin-bottom: 3.7rem;
    }

    &__text {
        color: $lightBlue;
        font-family: $secondaryFont;
        font-size: 1.4rem;
        line-height: 2.6rem;
        margin-bottom: 4rem;
    }

    &__subtext {
        color: $darkBlue;
        font-size: 1.6rem;
        margin-bottom: 2rem;

        &__span {
            margin-right: 3.3rem;
        }
    }
}

.buy-book {
    background-color: $white;
    padding: 15.5rem 0;

    &__inner {
        display: flex;
    }

    &__culc {
        max-width: 455px;
        margin-right: 4rem;

        &__subtitle {
            text-transform: uppercase;
            color: $orange;
            font-size: 1.3rem;
            line-height: 1.7rem;
            margin-bottom: 1.1rem;
            max-width: 18rem;
        }

        &__title {
            color: $darkBlue;
            font-size: 3rem;
            line-height: 3.5rem;
            max-width: 40rem;
            margin-bottom: 3.7rem;
        }

        &__text {
            color: $lightBlue;
            font-family: $secondaryFont;
            font-size: 1.4rem;
            line-height: 2.6rem;
            padding-right: 10rem;
            margin-bottom: 6rem;
        }

        &__price {
            max-width: 345px;

            &__label {
                font-size: 1.4rem;
                color: $orange;
                line-height: 2.4rem;
                margin-bottom: 1.8rem;
                max-width: 10rem;
            }

            &__buttons {
                display: flex;
                justify-content: space-between;
                margin-bottom: 5rem;

                & button {
                    line-height: 2.4rem;
                    font-size: 1.5rem;
                    font-family: $mainFont;
                    padding: 1.2rem 2.4em;
                    outline: none;

                    border-radius: 2.25em;

                    cursor: pointer;
                    font-weight: 700;


                }



                &__left {
                    color: $orange;
                    border: 1px solid $orange;
                    background-color: $white;


                    &:focus {
                        background-color: #fad9c8;
                    }
                }

                &__right {
                    color: #666E91;
                    border: 1px solid #666E91;
                    background-color: $white;

                    &:focus {
                        background-color: #aebdfc;
                    }

                }
            }

            &__numbers {
                display: flex;
                justify-content: space-between;

                &__item {
                    width: 40%;

                    &__label {
                        font-size: 1.4rem;
                        color: $orange;
                        line-height: 2.4rem;
                        margin-bottom: 1.8rem;
                    }

                    &__buttons {
                        display: flex;
                        align-items: center;

                        &__button {
                            cursor: pointer;
                        }

                        &__number {
                            margin: 0 2.5rem;
                            font-size: 1.4rem;
                            color: #111111;
                            line-height: 2.4rem;
                        }
                    }
                }
            }
        }


    }

    &__form {
        background-color: $darkBlue;
        padding: 5rem 8rem;
        max-width: 500px;
        border: 1px solid #707070;

        &__title {
            color: $white;
            font-size: 3rem;
            line-height: 6.5rem;
            font-weight: 400;
            margin-bottom: 1.2rem;
        }

        &__price {
            margin-left: 4rem;
        }

        &__result {
            max-width: 19rem;
            color: $white;
            font-size: 1.2rem;
            line-height: 2.4rem;
            word-spacing: 1px;
            margin-bottom: 4.7rem;

            &__hours {
                color: $orange;
            }
        }

        &__area {

            &__text {
                text-transform: uppercase;
                color: $orange;
                font-size: 1rem;
                line-height: 2.4rem;
                margin-bottom: 0.6rem;
            }

            &__input {
                width: 100%;
                background: inherit;
                border: none;
                outline: none;
                border-bottom: 1px solid rgba($white, 0.4);
                padding: 0.9rem 0;
                margin-bottom: 2rem;
                cursor: pointer;
                color: $white;
                font-size: 1.4rem;

                &::placeholder {
                    color: $white;
                    font-size: 1.4rem;
                }

                &:focus {
                    background-color: darken($darkBlue, 5%);
                }
            }

            &__btn {
                margin-top: 1rem;
                border: none;
                outline: none;
                background-color: inherit;
                color: $orange;
                font-size: 2rem;
                line-height: 2.7rem;
                border-radius: 2rem;
                padding: 1rem 0.5rem;
                margin-left: -0.5rem;
                transition: all 0.2s linear;

                &:hover {
                    background-color: darken($darkBlue, 5%);
                    cursor: pointer;
                }

                &__span {
                    background-color: inherit;
                    color: $orange;
                    font-size: 2rem;
                    margin-left: 3.5rem;
                }
            }
        }
    }


}


.customer {
    background-color: $darkWhite;
    padding: 15rem 0;


    &__title {
        color: $darkBlue;
        font-size: 3rem;
        line-height: 3.5rem;
        max-width: 35rem;
        margin: 0 auto 6rem auto;
    }

    &__review {

        display: flex;
        align-items: center;
        justify-content: space-between;

        &__arrow {
            max-width: 5rem;
            height: auto;
            cursor: pointer;
            z-index: 1000;
            display: block;



            &:last-child {
                margin-left: 2rem;
            }
        }

        &__carusel {
            display: flex;
            justify-content: space-between;
            overflow: hidden;
            margin-bottom: 15rem;

            &__transform {
                display: flex;
            }


        }

        &__item {
            padding: 6rem 3rem;
            background-color: $white;
            min-width: 34rem;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
            margin: 0 2rem;


            &__text {
                margin-top: 2.7rem;
                font-size: 2rem;
                color: $darkBlue;
                line-height: 3rem;
            }

            &__info {
                margin-top: 3rem;

                &__name {
                    color: $orange;
                    font-size: 1.5rem;
                    line-height: 2rem;
                }

                &__sity {
                    color: $grey;
                    font-size: 1.4rem;
                    line-height: 2rem;
                    margin-top: 0.5rem;
                }
            }
        }
    }

    &__question {


        &__title {
            text-align: center;
            color: $darkBlue;
            font-size: 3rem;
            line-height: 3.5rem;
            margin-bottom: 4rem;
        }

        &__buttons {

            display: flex;
            justify-content: center;

            &__call {
                border: 1px solid $orange;
                line-height: 2.4rem;
                font-size: 1.5rem;
                font-family: $mainFont;
                padding: 1.2rem 2.8rem;
                outline: none;
                border-radius: 2.25rem;
                cursor: pointer;
                font-weight: 700;
                text-decoration: none;
                color: $orange;
                margin-right: 2.5rem;
                transition: all 0.2s linear;

                &:hover {
                    background-color: #fad9c8;
                }

            }

            &__email {
                border: 1px solid $darkBlue;
                line-height: 2.4rem;
                font-size: 1.5rem;
                font-family: $mainFont;
                padding: 1.2rem 5.1rem;
                outline: none;
                border-radius: 2.25rem;
                cursor: pointer;
                font-weight: 700;
                text-decoration: none;
                color: $darkBlue;
                transition: all 0.2s linear;

                &:hover {
                    background-color: #aebdfc;
                }

            }
        }
    }
}

.footer {
    background-color: $white;
    padding: 15rem 0 3rem 0;

    &__main {
        display: flex;
        justify-content: space-between;

        &__sparcle {
            max-width: 14.2rem;

            &__title {
                color: $darkBlue;
                font-size: 3rem;
                line-height: 3.5rem;
                margin-bottom: 3rem;
                font-weight: 500;
            }

            &__text {
                color: $lightBlue;
                font-size: 1.4rem;
                line-height: 3.5rem;
                margin-bottom: 3.5rem;
            }

            &__icons {
                display: flex;
                justify-content: space-between;

                & img {
                    display: block;
                }
            }

        }

        &__house,
        &__commercial,
        &__contact {
            margin-top: 1rem;

            &__title {
                font-size: 2.2rem;
                color: $darkBlue;
                font-weight: 400;
                margin-bottom: 3rem;


            }

            &__list {
                list-style: none;

                &__item {
                    color: $lightBlue;
                    font-size: 1.4rem;
                    margin-bottom: 2.5rem;

                    &:last-child {
                        margin-bottom: 0rem;
                    }

                    &--mail {
                        font-size: 1.9rem;
                        color: $orange;
                    }
                }

            }
        }


    }


    &__copy {
        margin-top: 11rem;
        padding-top: 2.9rem;
        border-top: 1px solid #D1D3DE;
        font-size: 1.4rem;
        color: $darkBlue;
        line-height: 2rem;
    }
}